body {
    background-color: #f2f4ff;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1.75;   
}

h1 {
    padding: 30px 30px 10px 0;
}

p {
    padding-top: 10px;
}

section {
    padding-left: 30px;
}

/* nav */
ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    font-size: 24px;
    background-color: #96c5f7;
    padding: 10px 0;
}

li a:link, li a:visited {
    color: white;
    text-decoration: none;
}

li a:hover, li a:active, li a.active {
    color: white;
    text-decoration: underline;
    text-decoration-color: red;
}

/* table */
table {
    margin: 30px 0px;
}

th {
    text-align: left;
    padding: 10px;
}

td {
    text-align: center;
    padding: 10px;
}

thead {
    background-color: #96C5F7;
}

.light {
    background-color: #EBEEFF;
}

.dark {
    background-color: #D6DCFF;
}

img {
    width: 80%;
}

/* form */
form {
    width: 50%;
}
