body {
    background-color: #f2f4ff;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1.75;   
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    font-size: 24px;
    background-color: #96c5f7;
    padding: 10px 0;
}

li a:link, li a:visited {
    color: white;
    text-decoration: none;
}

li a:hover, li a:active, li a.active {
    color: white;
    text-decoration: underline;
    text-decoration-color: red;
}

p {
    padding: 10px 30px;
}

h1 {
    padding: 30px 30px 10px 30px;
}