body {
    background-color: #f2f4ff;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1.75em;
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.background {
    max-width: 1180px;
    box-sizing: border-box;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

main {
    padding-bottom: 90px;
}

footer {
    background-color: #96c5f7;
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
}

/* nav */
nav {
    background-color: #96c5f7;
}

nav ul { 
    display: flex;
    justify-content: space-between;
    list-style-type: none;    
    padding: 10px 0;
    font-size: 24px;
}

nav li a:link, nav li a:visited {
    color: white;
    text-decoration: none;
}

nav li a:hover, nav li a:active {
    color: white;
    text-decoration: underline;
    text-decoration-color: #6C756B;
}

nav li a.active {
    font-weight: bold;
    letter-spacing: 0.03em;
}

/* text */
h1 {
    padding: 15px 0;
}

p {
    padding-top: 10px;
}

/* home table */
table {
    margin: 30px 0px;
}

th {
    text-align: left;
    padding: 10px;
}

td {
    text-align: center;
    padding: 10px;
}

thead {
    background-color: #96C5F7;
}

.light {
    background-color: #EBEEFF;
}

.dark {
    background-color: #D6DCFF;
}

/* img */
img.home {
    width: 100%;
}

/* form */
form {
    width: 50%;
}

/* news */
.news-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-inline-start: 0px;
    margin: 0 -10px;
}

.news-card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    padding: 15px;
    margin: 15px;
    list-style: none;    
    max-width: 360px;   
}

img.news-img {
    max-width: 100%;
}

.news-small {
    font-size: 1.125rem;
    color: #92abb5;
    margin-top: -0.8em;
}

a.news-link {
    text-decoration: none;
    color: #212529;
}

/*.news:hover {
    background-color: #EBEEFF;
}*/

.news:hover h2 {
    color: #106DD1;
}

/* Small devices (phones, tablets 768px and down) */
@media only screen and (max-width: 768px) {     
    form {
        width: 100%;
    }
}

/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
    nav ul {    
        font-size: 1.125rem;
    }

    /* Show days of the week abbreviations */
    th span {
        display: none;
    }

    th, td {
        padding: 5px;
    }
}
